<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
@charset "UTF-8";

.ggsrt-time {
	float: left;
	background-color: rgb(232, 232, 232);
	width: 50px;
	height: 50px;
}

.ggsrt-time h1 {
	display: block;
	text-align: center;
	width: 100%;
}

.order_num_bottom{
	width: 20px;
	margin-left:10px;
	height: 20px;
}

.ggsrt-time span {
	display: block;
	width: 100%;
	text-align: center;
}

.comboSet {
	display: block;
	float: left;
	margin-left: 20px;
	line-height: 50px;
}

.the_choice {
	height: 50px;
/* 	width: 80px; */
	float: right;
/* 	margin-right: 20px; */
}

.minus_icon {
	float: left;
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

.order_num {
	margin-left: 10px;
	margin-right: 10px;
	float: left !important;
	height: 30px;
	width: 30px;
	margin-top: 10px;
	text-align: center;	
}

.plus_icon {
	float: left;
	width: 30px;
	height: 30px;
	margin-top: 10px;
}


.gsrt-box{
	height: 300px;
	overflow-x: hidden;
	text-align: center;
}

.endless_scroll_inner_wrap{
	margin:auto;
	overflow: hidden; 
}

.endless_scroll_content{
	margin: auto;
	overflow: hidden;
}

.tip_pop_bak{
	display: none;
}
</style>
<meta charset="utf-8">
<meta http-equiv="cleartype" content="on">
<meta name="description">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
<meta name="format-detection" content="telephone=no, email=no">
<meta name="apple-itunes-app" content="app-id=507161324">
<title></title>
<meta name="msapplication-TileImage" content="//static11.elemecdn.com/touch-icon-310x310-precomposed.png">
<meta name="msapplication-TileColor" content="#3199e8">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="餐餐">

	
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/kenel.css">
<link rel="stylesheet" href="css/smart.css">
</head>

<body class="ng-scope">
	<div class="ng-scope">
		<header class="eleme-header ng-scope">
			<a class="header-menu page_back" role="button">
				返回
			</a>
		<h1 class="header-title ng-binding">民生银行西门自提餐点</h1>
	</header>
	<script type="text/javascript">
		
	</script>
	
	<div class="center_content"><div class="ng-scope">
	
	<div class="ng-scope">
		<div class="geo-rst-filter ng-scope">
			<div class="grst-filter-toggle meat_type">
				<ul class="nav nav-tabs nav-tabs-in-mealList">
					<li class="active"><a href="#combo_1" data-toggle="tab">套餐一</a></li>
						<li><a href="#combo_2" data-toggle="tab">套餐二</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane active" id="combo_1">
					<ul class="gsrt-box">
						#foreach($meal in $firstList)	
						<li  class="combo" price="$meal.PRICE" Id="$meal.ID" mealId="$meal.MEALID">
							<div class="ggsrt-time">
								<h1>$meal.WEEK</h1>
								<span class="meal_date">$meal.DATE</span>
							</div>
														
							<span class="comboSet">$meal.NAME</span>
							<div class="the_choice">											
									<button class="minus_icon btn btn-info btn-xs">-</button>
									<input class="order_num" value="0">
									<button class="plus_icon btn btn-info btn-xs">+</button>
							</div>
						</li>
						#end
					</ul>
				</div>
				<div class="tab-pane" id="combo_2">
<!-- 					<div class="gsrt-box"> -->
<!-- 						<div class="combo"> -->
<!-- 							<div class="ggsrt-time"> -->
<!-- 								<h1>周二</h1> -->
<!-- 								<span>9.8</span> -->
<!-- 							</div> -->
														
<!-- 							<span class="comboSet">菜包+茶叶蛋+豆浆</span> -->
<!-- 							<div class="the_choice">											 -->
<!-- 									<button class="minus_icon btn btn-info btn-xs">-</button> -->
<!-- 									<input class="order_num" value="1"> -->
<!-- 									<button class="plus_icon btn btn-info btn-xs">+</button> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="pop tip_pop">
		按周预定仅40元， <a class="week_order_link" href="#">一键点餐..</a>
	</div>
	<div class="pop tip_pop_bak">
		<a href="#">选择份数</a><input class="order_num_bottom" type="text" value="1">
	</div>
</div></div>
	
		<footer class="eleme-footer-virtual">
		<form class="submitPageOff" action="http://localhost:8080/orderform/orderForm_complete" method="post" style="display: none;">
			<input class="mealdetail"  type="hidden" name="mealdetail" value="">
			
			<input class="id"  type="hidden" name="id" value="">
			<input class="image"  type="hidden" name="image" value="">
			<input class="name"  type="hidden" name="name" value="">
			<input class="status"  type="hidden" name="status" value="">
			<input class="dispatchingaddress"  type="hidden" name="dispatchingaddress" value="">
			<input class="dispatchingdate"  type="hidden" name="dispatchingdate" value="">
			<input class="dispatchingtype"  type="hidden" name="dispatchingtype" value="">						
			<input class="productids"  type="hidden" name="productids"  value="">
			<input class="totalprice"  type="hidden" name="totalprice"  value="">
			<input class="consumepoints"  type="hidden" name="consumepoints"  value="">
			<input class="pointstype"  type="hidden" name="pointstype"  value="">
			<input class="userid"  type="hidden" name="userid"  value="">
			<input class="payno"  type="hidden" name="payno"  value="">
			<input class="createdate"  type="hidden" name="createdate"  value="">
			<input class="paydate"  type="hidden" name="paydate"  value="">
			<input class="dealdate"  type="hidden" name="dealdate"  value="">
			<input class="wfbillid"  type="hidden" name="wfbillid"  value="">
			<input class="hyversion"  type="hidden" name="hyversion"  value="">
		</form>
			<a href="javascript:void(0);" class="btn btn-info btn-footer" allprice="0">0元  去结算</a>
		</footer>
			
	</div>
	
<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.endless-scroll.js"></script>
<script type="text/javascript" src="js/meat.js"></script>
<script type="text/javascript">
var mealNumJson={};
function gotoPayOff(){
	var mealId=$('.tab-pane.active').find('li').attr('mealId');
}
$(document).click(function(event){
	if($(event.target).hasClass('minus_icon')){
		var oldVal=$(event.target).siblings('.order_num').val();
		if(oldVal>=1){
			$(event.target).siblings('.order_num').val(--oldVal);
			
			var unit_price=$(event.target).parents('.combo').attr('price');
			var id=$(event.target).parents('.combo').attr('ID');	
			mealNumJson[id]=oldVal;
			var price=$('.btn-footer').attr('allprice');
			$('.btn-footer').attr('allprice',Number(price)-Number(unit_price));
			$('.btn-footer').html($('.btn-footer').attr('allprice')+"元 去结算");
		}	
	}else if($(event.target).hasClass('plus_icon')){
		var oldVal=$(event.target).siblings('.order_num').val();
		$(event.target).siblings('.order_num').val(++oldVal);
		
		var unit_price=$(event.target).parents('.combo').attr('price');
		var id=$(event.target).parents('.combo').attr('ID');		
		mealNumJson[id]=oldVal;
		var price=$('.btn-footer').attr('allprice');
		$('.btn-footer').attr('allprice',Number(price)+Number(unit_price));
		$('.btn-footer').html($('.btn-footer').attr('allprice')+"元 去结算");
	}
	if($(event.target).hasClass('week_order_link')){
		$('.the_choice').hide();
		$('.tip_pop').addClass('tip_pop_bak').removeClass('tip_pop');
		$('.tip_pop_bak').addClass('tip_pop').removeClass('tip_pop_bak');
	}
	if($(event.target).hasClass('btn-footer')){
		xiadan();
	}
});
/*$(function() {
	$('.gsrt-box').scrollTop(100);
	var combos = $("ul.gsrt-box").clone().find("li");
	$('.gsrt-box')
			.endlessScroll(
					{
						pagesToKeep : 8,
						inflowPixels :100,
						fireDelay : 1,
						content : function(i, p, d) {
							console.log(i, p, d);
							return combos[Math.floor(Math.random() * 4)].outerHTML;
						}
					});
});*/

function xiadan(){
	$.getJSON("http://localhost:8080/usercenter/addr/wx/123",{},function(data){
		if(data.addr){
			window.location.href="http://localhost:8080/usercenter/addr/edit";
		}else{
			var arr = [];
			var productids=[];
			var list = $("#combo_1 .combo");
			for(var i =0;i<list.length;i++){
				var $meal = $(list[i]);
				var num = $meal.find('.order_num').val();
				if(num > 0){
					var meal = $meal.attr("Id");
					var date = $meal.find(".meal_date").html();
					var name= $meal.find("span.comboSet").html();
					var week=$meal.find(".ggsrt-time h1").html();
					var price=$meal.attr("price");
					productids.push(meal);
					arr[i] = {"ID":meal,"COUNT":num,"DISPATCHINGDATE":date,"week":week,"name":name,"price":price}
				}
			}
			var json = {"addr":data.addr,"content":JSON.stringify(arr)};
			$('.submitPageOff').find('input.addr').val(data.addr);
			$('.submitPageOff').find('input.mealdetail').val(JSON.stringify(arr));
			$('.submitPageOff').find('input.userid').val(data.userWXID);
			$('.submitPageOff').find('input.productids').val(productids.join(','));
			$('.submitPageOff').submit();
			/*$.post("http://localhost:8080/orderform/orderForm_complete",json,function(data){
				$(document).find('html').html(data.substring(6,data.length-7));
			});*/
		}
	});
}
</script>
</body></html>