#foreach($meal in $firstList)
						<div class="combo">
							<div class="ggsrt-time">
								<h1>$meal.WEEK</h1>
								<span>$meal.DATEFORMAT</span>
							</div>
							<span class="comboSet">$meal.NAME</span>
							<div class="the_choice">											
									<button class="minus_icon btn btn-info btn-xs">-</button>
									<input class="order_num" value="1">
									<button class="plus_icon btn btn-info btn-xs">+</button>
							</div>
						</div>
					#end		