<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
@charset "UTF-8"; 
.ggsrt-time{
	float:left;
	background-color: rgb(232,232,232);
	width: 50px;
	height: 50px;
}
.ggsrt-time h1{
	display: block;
	text-align:center;	
	width: 100%;	
}
.ggsrt-time span{
	display: block;
	width: 100%;
	text-align: center;
}
.comboSet{
	display: block;
	float: left;
	margin-left:20px;
	line-height: 50px;
}
.the_choice{
	height: 50px;
	width:80px;
	float: right;
	margin-right: 20px;
}
.minus_icon{
	float:left;
	width:20px;
	height:20px; margin-top: 15px;
}
.order_num{
	margin-left:10px;
	margin-right:10px;
	float:left !important;	
	height:20px; margin-top: 15px;
	text-align:center;
	width: 20px;
}
.plus_icon{
	float:left;
	width:20px;
	height:20px; margin-top: 15px;
}
</style>
<meta charset="utf-8">
<meta http-equiv="cleartype" content="on">
<meta name="description">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
<meta name="format-detection" content="telephone=no, email=no">
<meta name="apple-itunes-app" content="app-id=507161324">
<title></title>
<meta name="msapplication-TileImage" content="//static11.elemecdn.com/touch-icon-310x310-precomposed.png">
<meta name="msapplication-TileColor" content="#3199e8">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="餐餐">

	
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/kenel.css">
<link rel="stylesheet" href="css/smart.css">
</head>

<body class="ng-scope">
	<div class="ng-scope">
		<header class="eleme-header ng-scope">
			<a class="header-menu" role="button">
				返回
			</a>
		<h1 class="header-title ng-binding">民生银行西门自提餐点</h1>
	</header>
	<script type="text/javascript">
		
	</script>
	
	<div class="center_content"><div class="ng-scope">
	
	<div class="ng-scope">
		<div class="geo-rst-filter ng-scope">
			<div class="grst-filter-toggle meat_type">
				<ul class="nav nav-tabs nav-tabs-in-mealList">
					<li class="active"><a href="#combo_1" data-toggle="tab">套餐一</a></li>
						<li><a href="#combo_2" data-toggle="tab">套餐二</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane active" id="combo_1">
					<div class="gsrt-box">	
					#foreach($meal in $firstList)
						<div meal="$meal.ID" class="combo">
							<div class="ggsrt-time">
								<h1>$meal.WEEK</h1>
								<span class="meal_date">$meal.DATEFORMAT</span>
							</div>
							<span class="comboSet">$meal.NAME</span>
							<div  class="the_choice">											
									<button class="minus_icon btn btn-info btn-xs">-</button>
									<input class="order_num" value="1">
									<button class="plus_icon btn btn-info btn-xs">+</button>
							</div>
						</div>
					#end	
					<div class="list"></div>	
					</div>
				</div>
				<div class="tab-pane" id="combo_2">
					<div class="gsrt-box">
					#foreach($meal in $secondList)
						<div class="combo">
							<div class="ggsrt-time">
								<h1>$meal.WEEK</h1>
								<span>$meal.DATEFORMAT</span>
							</div>
							<span class="comboSet">$meal.NAME</span>
							<div class="the_choice">											
									<button class="minus_icon btn btn-info btn-xs">-</button>
									<input class="order_num" value="1">
									<button class="plus_icon btn btn-info btn-xs">+</button>
							</div>
						</div>
					#end
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  
	<div class="pop tip_pop">
		按周预定仅40元， <a href="#">一键点餐..</a>
	</div>
	-->
</div></div>
	
		<footer class="eleme-footer-virtual">
			<a class="btn btn-info btn-footer" href="javascript:xiadan();">30元  去结算</a>
		</footer>
			
	</div>
	
<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/meat.js"></script>
<script type="text/javascript" >
function xiadan(){
	$.getJSON("http://localhost:8080/usercenter/addr/wx/123",{},function(data){
		if(data.addr){
			window.location.href="http://localhost:8080/usercenter/addr/edit";
		}else{
			var arr = [];
			var list = $("#combo_1 .combo");
			for(var i =0;i<list.length;i++){
				var $meal = $(list[i]);
				var num = $meal.find('.order_num').val();
				if(num > 0){
					var meal = $meal.attr("meal");
					var date = $meal.find(".meal_date").html();
					arr[i] = {"ID":meal,"COUNT":num,"DISPATCHINGDATE":date}
				}
			}
			var json = {"addr":data.addr,"content":arr};
			$.post("http://localhost:8080/orderform/orderForm/create",json,function(data){
				alert(data);
			});
		}
	});
}
</script>
 <script type='text/javascript' src='js/DataLazyLoad.min.js'></script>
 <script type='text/javascript' charset='utf-8'>
 $(function() {
     $('.list').DataLazyLoad({load : function(page, unLocked){
        $.getJSON('http://localhost/product/meal/"+page+"&jsonCallBack=?',function(data){
     	   $(data).appendTo('.list');
        });
     }});
 });

</body></html>