
<!-- saved from url=(0062)file:///home/steven/workspace/meat/WebContent/allMealList.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<style type="text/css">
@charset "UTF-8"; 
</style>
<meta charset="utf-8">
<meta http-equiv="cleartype" content="on">
<meta name="description">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
<meta name="format-detection" content="telephone=no, email=no">
<meta name="apple-itunes-app" content="app-id=507161324">
<title></title>
<meta name="msapplication-TileImage" content="//static11.elemecdn.com/touch-icon-310x310-precomposed.png">
<meta name="msapplication-TileColor" content="#3199e8">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="">

	
<link href="http://localhost:8080/product/allMealList_files/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://localhost:8080/product/css/kenel.css">
<link rel="stylesheet" href="http://localhost:8080/product/css/smart.css">
<link rel="stylesheet" type="text/css" href="http://localhost:8080/product/allMealList_files/page.css">
 <link rel="stylesheet" type="text/css" href="http://localhost:8080/product/allMealList_files/buttons.css">
</head>

<body class="ng-scope">
	<div class="ng-scope">
		<header class="eleme-header ng-scope">
			<a class="header-menu" role="button" drawer="">
				<div class="symbol-menu" title="MENU"></div>
			</a>
		<h1 class="header-title ng-binding">民生银行西门自提餐点</h1>
		<a class="header-helper" href="file:///home/steven/workspace/meat/WebContent/place.html">[切换]</a>
	</header>
		<div id="eleme_drawer_wrapper" class="eleme-drawer-wrapper ng-scope">
		<div class="eleme-mask"></div>
		<div class="eleme-drawer">
			<a class="drawer-user" href="javascript:route('user_center.html');">
				<div class="duser-info">
					<p class="duser-name">史乐义</p>
				</div>
			</a>
			<nav class="eleme-nav">
				<a class="enav-link" href="javascript:route('order_list.html');">
					订单管理
				</a>
				<a class="enav-link" href="javascript:route('integral_list.html');">
					积分管理
				</a>
				<a class="enav-link" href="javascript:route('where_or_takeTheir.html');">
					地址管理
				</a>
				<a class="enav-link" href="javascript:route('orders_experience/mealList.html');">
					套餐列表
				</a>
			</nav>
		</div>
	</div>
	<script type="text/javascript">
		
	</script>
	
	<div class="center_content"><div class="ng-scope">
	
	<div class="ng-scope">
		<div class="geo-rst-filter ng-scope">
			<div class="grst-filter-toggle meat_type">
				<ul class="nav nav-tabs nav-tabs-in-mealList">
					<li class="active"><a href="file:///home/steven/workspace/meat/WebContent/allMealList.html#combo_1" data-toggle="tab" aria-expanded="true">套餐一</a></li>
						<li class=""><a href="file:///home/steven/workspace/meat/WebContent/allMealList.html#combo_2" data-toggle="tab" aria-expanded="false">套餐二</a></li>
				</ul>
			</div>
			<div class="tab-content">
				#foreach($meal in $list)
				<div class="tab-pane active" id="combo_1">
					<div class="gsrt-box">						
						<div class="combo">
							<div class="gsrt-time">$meal.WEEK  $meal.DATE</div>
							<a class="grst-block ng-scope" rel="choise_combo_menu" target="_blank" href="javascript:void(0);" onclick="annimatePop(this)"> <img class="grst-logo" src="$meal.PICTURE" width="42" height="42" style="opacity: 1; transition: opacity 0.5s; -webkit-transition: opacity 0.5s;" alt="$meal.NAME">
								<div class="grst-detail">
									<div class="grst-name">
										<span class="ng-binding">$meal.NAME</span>
										<div class="gsrt-cost">￥$meal.PRICE</div>
										<span class="rst-badge-large rst-badge-pay ng-scope"> </span>
									</div>
								</div> 
<!-- 								<span class="choise_combo_span"></span> -->
							</a>
						</div>
						<div class="num-choice">
						 	<img class="plus_img" src="http://localhost:8080/product/allMealList_files/plus.png">							 
							<span class="order_num">0</span>							
							<img class="minus_img" src="http://localhost:8080/product/allMealList_files/mimus.png">
						</div>
					</div>
				</div>
				#end
				<div class="tab-pane" id="combo_2">
					<div class="gsrt-box">
						<div class="combo">
							<div class="gsrt-time">下周二 06-08</div>
							<a class="grst-block ng-scope" rel="choise_combo_menu" target="_blank" href="javascript:void(0);" onclick="annimatePop(this)"> <img class="grst-logo" width="42" height="42" style="opacity: 1; transition: opacity 0.5s; -webkit-transition: opacity 0.5s;" alt="菜包+茶叶蛋+豆浆">
								<div class="grst-detail">
									<div class="grst-name">
										<span class="ng-binding">菜包+茶叶蛋+豆浆</span>
										<div class="gsrt-cost">￥6.00</div>
										<span class="rst-badge-large rst-badge-pay ng-scope"> </span>
									</div>
								</div> 
							</a>
						</div>
						<div class="num-choice">
							<img class="plus_img" src="http://localhost:8080/product/allMealList_files/plus.png"> <span class="order_num">0</span> <img class="minus_img" src="./allMealList_files/mimus.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pop tip_pop">
		按周预定仅40元， <a href="file:///home/steven/workspace/meat/WebContent/allMealList.html#">一键点餐..</a>
	</div>
</div></div>
	
		<footer class="eleme-footer-virtual">
			<a class="btn btn-info btn-footer">阿sdfasd阿dsf</a>
		</footer>
			
	</div>
	
   <div class="pop_panel" style="display: none;">
		<div class="combo_selector">
			<ul>
				<li><a href="file:///home/steven/workspace/meat/WebContent/user_center.html">个人中心</a></li>
				<li><a href="file:///home/steven/workspace/meat/WebContent/user_center.html">订单修改</a></li>
				<li><a href="file:///home/steven/workspace/meat/WebContent/user_center.html">地址管理</a></li>
			</ul>
		</div>
		<br>
		<div class="tail_function_menu">
			<ul>
				<li>取消</li>
			</ul>
		</div>		
	</div>
<script type="text/javascript" src="http://localhost:8080/product/allMealList_files/jquery-2.1.4.js"></script>
<script type="text/javascript" src="http://localhost:8080/product/allMealList_files/bootstrap.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/product/allMealList_files/meat.js"></script>
	<script type="text/javascript">
		//导航栏
		$('.meat_type').click(function(){					
			$('.meat_type_dropdown').show();
		});
		$('.meat_type_dropdown').find('li').click(function(event){
			$('.meat_type span').html($(event.target).html());
			$('.meat_type_dropdown').hide();
		});
		$('.plus_img').click(function(){
			var ord_num=Number($('.order_num').html());
			$('.order_num').html(++ord_num);
		});
		$('.minus_img').click(function(){
			var ord_num=Number($('.order_num').html());
			if(ord_num<=0)
				return;
			$('.order_num').html(--ord_num);
		});
		$('.header-menu').click(function(){
			if($('#eleme_drawer_wrapper').hasClass('ui_show')){
				$('#eleme_drawer_wrapper').removeClass('ui_show');
			}else{
				$('#eleme_drawer_wrapper').addClass('ui_show');
			}
		});
		$('#eleme_drawer_wrapper').click(function(){
			$('#eleme_drawer_wrapper').removeClass('ui_show');
		});
		//预加载页面
		function annimatePop(ele){
			$(".pop_panel").toggle();
			$(".pop_panel").animate({height:"auto"},"slow");
		}		
	</script>


</body></html>